.container.options {
  margin-top: 86px;
  padding: 10px;
  background-color: white;
}

.container {
  cursor: auto;
  user-select: auto;
}

.option {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
}

.left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}
